<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-5 sticky-top py-3">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <figure class="mb-0 d-inline">
            <img src="../../assets/images/nav-header.PNG" alt="">
        </figure>
        <span class="font-sm">FutureLn</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Discover <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-warning mr-3 ml-0 ml-lg-5 my-3 my-lg-0 px-3">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning px-3">Signup</button>
        </li>
      </ul>
    </div>
  </nav>


<app-body></app-body>

