<!-- <p>body works!</p> -->
<main class="w-100 h-100 bg-primary p-5">
    <div class="p-5 d-flex align-items-center position-relative">
        <div>
            <p class="mb-0 text-warning"><span class="text-warning pr-1">&#128525;</span>Easy way to learn and earn</p>
            <h2 class="hero-text mb-0 text-white pt-4">Discove products to build a better workflow<span class="fa fa-star font-xl text-warning pl-2"></span></h2>
            <p class="mb-0 text-white pt-4">Learn how to be a world class designer with right skills and the perfect experience</p>
        </div>
        <div>
            <figure class="mb-0 khaby pl-5">
                <img src="../../../assets/images/avatar.png" alt="">
            </figure>
        </div>
    </div>
</main>
