$gray-500: #adb5bd;

// Theme colors
$primary: #0e0216;
$secondary: #f3f2f9;
$danger: #c81016;
$success:#78cc87;
$info: #236ede;
$warning: #f6c94a;
$orange: #d95e34;
$pink: #e56393;
// $primary-light: lighten($primary, 30%);

// Theme Map
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    // "danger-light": lighten($danger, 30%),
    "gray-500": $gray-500,
    // "primary-light": $primary-light,
    "success": $success,
    "orange": $orange,
    // "success-light": lighten($success, 30%),
    "info": $info,
    "pink": $pink,
    // "info-light": lighten($info, 30%),
    'warning': $warning,
    // "warning-light": lighten($warning, 25%),
);
