#search {
  background-image: url("../../../assets/images/search.png");
  padding-left: 25px;
  background-size: 12px;
  background-position-x: 7px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  outline: none;
  &::placeholder {
    color: $gray-500;
    font-size: 12px;
  }
}
#search {
  width: 0;
  outline: 0;
  transition: all 0.3s ease-in-out;
  @include media-breakpoint-down(sm) {
    width: 0;
  }
  &::placeholder {
    font-size: 14px;
  }
}
.search-bar {
  &:hover {
    #search {
      width: 250px;
    }
  }
}
.fa-bell{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: auto;
        right: 1px;
        top: -1px;
        border: 1px solid white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $danger;
    }
}
.time{
    img{
        width: 30px;
    }
}
.btn-warning{
  border-radius: 20px;
}
.btn-outline-warning{
  border-radius: 20px;
}
.hero-section{
  width: 400px;
}
.hero-text{
  // width: 380px;
  font-size: 44px;
}
.khaby{
  width: 480px;
  position: absolute;
  top: -22px;
  right: 5%;
  img{
    width: 100%;
  }
}
.mail-section{
  background-color: rgba($color: $white, $alpha: .2);
  border: 1px solid rgba($color: $white, $alpha: .3);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  & input[type='email']{
    outline: 0;
    &::placeholder{
      color: $white;
    }
  }
}
.footer-section{
  background-color: rgba($color: $white, $alpha: .2);
  border: 1px solid rgba($color: $white, $alpha: .3);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  h3{
    width: 200px;
  }
}